@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@font-face {
  font-family: 'Roboto Slab', serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap%27');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

html,body {
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto Bold', serif;
  color: #fff;
}

header {
  background-color: #1a1713;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', serif;
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255,255,255, 0.15)
}

h1,h2{
  font-family: 'Marcellus SC', serif;
}



/* VIDEO PRINCIPAL */
.embed{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.embed video{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

/* MAIN-GRID */
.container-Main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  background-color: #1a1713;
  height: 1080px;
}
.container-Main2 {
  display: grid;
  background-color: #1a1713;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  height: 1080px;
}


/* TITULO - SOBRE SITE */
.container-Main h1 {
  grid-column-start: 6;
  grid-column-end: 8;
  font-size: 3vw;
  align-self: center;
  grid-row-start: 2;
}
 
/* TEXTO - SOBRE SITE */
#p1 {
  font-size: 1.5vw;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
}


/* TITULO - SOBRE A TRILHA */
.container-Main h2 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 5;
  font-size: 2vw;
}

/* TEXTO - SOBRE A TRILHA */
#p2 {
  font-size: 1.2vw;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 5;
  justify-self: center;
  margin-top: 15%;
}

#p3 {
  font-size: 1.2vw;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 6;
  justify-self: center;
  margin-top: 5%;
}

/* VIDEO - SOBRE A TRILHA */
.video-1{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.video-1 iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}


/* TITULO - TRAJETORIA */
#h2{
  /* margin-top: 20%; */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  font-size: 2vw;
}

/* TEXTO - TRAJETORIA */
#p4 {
  font-size: 1.2vw;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  justify-self: center;
  
}

/* VIDEO - TRAJETORIA */
.video-2{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 4;
}

.video-2 iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}


/* TITULO - FUNCAO */
#h3{
  margin-top: 30%;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  font-size: 2vw;

}

/* TEXTO - FUNCAO */
#p5 {
  font-size: 1.2vw;
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  justify-self: center;
  
}

/* VIDEO - FUNCAO */
.video-3{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.video-3 iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}


/* FOOTER */
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  background-color: #000;
  height: 150px;
}

/* LOGO - FOOTER */
.footer img{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 40%;
  justify-self: center;
}

/* TEXTO - FOOTER */
#p6{
  font-size: 1vw;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
  color: gray;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

